streamlit
pandas
pdfplumber
pytesseract
opencv-python-headless
numpy
Pillow
fpdf
python-dotenv
openai
google-generativeai
pdfplumber==0.11.7
pytesseract
opencv-python
Pillow
numpy
opencv-python-headless
